.competitor-review-table {

	&-wrapper {
		padding: 20px 0 20px;
		background-color: #cccccc28;
		z-index: 1;
	}

	// &-instruction {
	// 	text-align: center;
	// 	margin-bottom: 20px;
	// 	top: 0;
	// 	left: 0;
	// 	position: fixed;
	// }

	&-row {

		&-cell {
			min-width: 125px;
			z-index: 9999;
		}

		border-left: 10px solid #d6dedf;

		&:nth-child(2n) {
			border-left: 10px solid #f5f5f5;
		}

		&:nth-child(1) {
			border-left: 10px solid #f8dfcf;
		}


		min-height: 100px;

		&:first-child &-cell {

			// border-top: solid 1px #CCCCCC;

		}

		&:last-child &-cell {

			border-bottom: solid 1px #CCCCCC;

		}
	}



}