.competitor-review-table-wrapper {
	box-sizing: border-box;

	overflow: hidden;
	overflow-x: auto;

	.competitor-review-table {

		min-width: 100%;
		// border-radius: 6px;
		border: solid 1px #CCCCCC;
		width: max-content;

		&-row {
			display: grid;

			&-cell {
				padding: 16px 12px;
				border-right: 1px solid #CCCCCC;
				border-bottom: 1px solid #CCCCCC;


				&:last-child {
					border-right: none;
				}

			}

			&:last-child &-cell {

				border-bottom: none;

			}

			&:nth-child(odd) {

				background-color: #CCCCCC1A;

			}

			&:first-child {
				background-color: #F8F3F0;
			}

		}

		&[data-has-buttons-row="true"] {
			& .competitor-review-table-row:last-child {
				background-color: rgb(255, 0, 0);
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 600;
			font-size: 16px;
			line-height: 26px;
		}

		p {
			font-size: 16px;
			line-height: 26px;

		}


	}
}